
/* Custom styles */
body{
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  padding-top: 72px; /* space for fixed navbar */
}
.custom-navbar {
  background-color: #873179;
}
.navbar-brand img{
  height: 40px;
}
.hero{
  opacity: 0.8;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/back.jpeg');
  padding: 3rem 1rem; 
  background-repeat: no-repeat;
   background-position: center center; /* Centers the image horizontally and vertically */
  background-size: cover;
}
.gallery-img{
  cursor: pointer;
  transition: transform .2s ease;
}
.gallery-img:hover{ transform: scale(1.03); }
.footer{
  padding: 2rem 1rem;
  background:#f8f9fa;
}
.contact-card a{ text-decoration:none; }
.carla {
  width: 50%; /* Or a specific pixel value, e.g., 300px */
  height: auto;
}
.text-main {
  color: #FEFBFD;
  font-weight: bold;
}
.btn-outline-custom {
  --bs-btn-color: #ff0000; /* Red text */
  --bs-btn-border-color: #ff0000; /* Red border */
  --bs-btn-hover-color: #fff; /* White text on hover */
  --bs-btn-hover-bg: #ff0000; /* Red background on hover */
  --bs-btn-hover-border-color: #ff0000; /* Red border on hover */
}
.text-logo {
font-size: medium;
}

